p,h1,h2,h3,img{
  margin-left:50px;
}
#stars
{
  height:50px;
  width:200px;
  margin:auto;
  margin-top:10px;
  position:relative;
  left:170px;
  top:-160px;
 
 
}
.fa
{
  
  font-size:20px !important;
  cursor:pointer;
}
.checked
{
 
  color:rgb(28, 238, 192);
}
.unchecked
{
  color:black;
}
.btn
{

  width:150px;
  height:20px;
  
}
.btn:hover
{
  cursor:pointer;
}


#imgP{
  height: 150px;
}